<a href="https://colab.research.google.com/github/Thomas-Delgado/emissaoC02/blob/main/Emiss%C3%A3o_de_C02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# importando pandas para utilizarmos no código.
import pandas as pd

In [ ]:
# importando o dataset do kaggle que está os dados.
dados = pd.read_csv('C02.csv')
pd.DataFrame(dados)

      country_code country_name  year         value
0              ABW        Aruba  1960  11092.675000
1              ABW        Aruba  1961  11576.719000
2              ABW        Aruba  1962  12713.489000
3              ABW        Aruba  1963  12178.107000
4              ABW        Aruba  1964  11840.743000
...            ...          ...   ...           ...
13948          ZWE     Zimbabwe  2015  12430.000305
13949          ZWE     Zimbabwe  2016  11020.000458
13950          ZWE     Zimbabwe  2017  10340.000153
13951          ZWE     Zimbabwe  2018  12380.000114
13952          ZWE     Zimbabwe  2019  11760.000229

[13953 rows x 4 columns]

In [ ]:
#Função para verificar se há dados nulos ou nao preenchidos.
dados.isna()

       country_code  country_name   year  value
0             False         False  False  False
1             False         False  False  False
2             False         False  False  False
3             False         False  False  False
4             False         False  False  False
...             ...           ...    ...    ...
13948         False         False  False  False
13949         False         False  False  False
13950         False         False  False  False
13951         False         False  False  False
13952         False         False  False  False

[13953 rows x 4 columns]

In [ ]:
#Testado uma variável que conta o número de países, excluindo dados que estejam duplicados,assim isolando os dados "países".
country = list(dados['country_name'].drop_duplicates())
country

In [ ]:
#Realizado o filtro para o dataset ao qual foi realizado o dashboard.

df_br = dados.query("country_name == 'Brazil' & year >= 2001") # variável que contém os dados do Brasil.
df_arg = dados.query("country_name == 'Argentina' & year >= 2001") # variável que contém os dados da Argentina.
df_chi = dados.query("country_name == 'Chile' & year >= 2001") # variável que contém os dados do Chile.
df_countries = pd.concat([df_arg, df_br, df_chi]) # juntando os novos dados em um só dataset
df_countries.update(df_countries['value'].astype('float').round(3)) # diminuindo os valores de emissão para uma melhor leitura visual dos dados.

In [ ]:
df_countries = df_countries.reset_index(drop = True) # corrigindo a posição dos itens.
df_countries

   country_code country_name  year       value
0           ARG    Argentina  2001  125260.000
1           ARG    Argentina  2002  117470.001
2           ARG    Argentina  2003  127660.004
3           ARG    Argentina  2004  141380.005
4           ARG    Argentina  2005  145990.005
5           ARG    Argentina  2006  154899.994
6           ARG    Argentina  2007  162809.998
7           ARG    Argentina  2008  167229.996
8           ARG    Argentina  2009  156570.007
9           ARG    Argentina  2010  167220.001
10          ARG    Argentina  2011  176639.999
11          ARG    Argentina  2012  177960.007
12          ARG    Argentina  2013  183250.000
13          ARG    Argentina  2014  179600.006
14          ARG    Argentina  2015  185550.003
15          ARG    Argentina  2016  183160.004
16          ARG    Argentina  2017  179320.007
17          ARG    Argentina  2018  176899.994
18          ARG    Argentina  2019  168100.006
19          BRA       Brazil  2001  319380.000
20          BRA       Brazil  2002  317760.010
21          BRA       Brazil  2003  310809.998
22          BRA       Brazil  2004  328519.989
23          BRA       Brazil  2005  331690.002
24          BRA       Brazil  2006  335619.995
25          BRA       Brazil  2007  352559.998
26          BRA       Brazil  2008  373630.005
27          BRA       Brazil  2009  350000.000
28          BRA       Brazil  2010  397929.993
29          BRA       Brazil  2011  418309.998
30          BRA       Brazil  2012  454230.011
31          BRA       Brazil  2013  486839.996
32          BRA       Brazil  2014  511619.995
33          BRA       Brazil  2015  485339.996
34          BRA       Brazil  2016  447079.987
35          BRA       Brazil  2017  456489.990
36          BRA       Brazil  2018  433989.990
37          BRA       Brazil  2019  434299.988
38          CHL        Chile  2001   48430.000
39          CHL        Chile  2002   49119.999
40          CHL        Chile  2003   50200.001
41          CHL        Chile  2004   54970.001
42          CHL        Chile  2005   55970.001
43          CHL        Chile  2006   57150.002
44          CHL        Chile  2007   64570.000
45          CHL        Chile  2008   67989.998
46          CHL        Chile  2009   65449.997
47          CHL        Chile  2010   69750.000
48          CHL        Chile  2011   76470.001
49          CHL        Chile  2012   78410.004
50          CHL        Chile  2013   83000.000
51          CHL        Chile  2014   76559.998
52          CHL        Chile  2015   82230.003
53          CHL        Chile  2016   86489.998
54          CHL        Chile  2017   87070.000
55          CHL        Chile  2018   86610.001
56          CHL        Chile  2019   91370.003

In [ ]:
df_countries.to_csv('C02SA.csv', sep = ';') #importando o novo dataset para um arquivo.